# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================

.venv/
venv/
env/
ENV/
# ======================
# Django database
# ======================
db.sqlite3

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Django static/media
# ======================
staticfiles/
media/

# ======================
# Logs
# ======================
*.log

# ======================
# IDE files
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db